#{extends 'main.html' /}
#{set title:'MedikZeit - MyMedikZeit Profile' /}

<div id="user">
  			<ul>
  					<li><a href="#" class="dropdown">My Profile</a>
    				
					</li>

  					<li><a href="index.html" class="dropdown">Logout</a>
    				
					</li>
			</ul>
				</div>
		</div>
	</div>
</div>


 <!-- End navigation area -->  
 
 
<!-- Start Main Body -->

<div id="main">
      <div id="content" role="main">
      


			<div><h1>Find Doctor By Specialization</h1></div>

			<div id="signup-form">
				<form action="" method="GET">
		
				<fieldset class="inputs">
					<ol>
			
    					<li class="string optional" id="person_first_name_input">
    					</li>
    					
    					
    				
    				</ol>
				</fieldset>
		
				<fieldset class="buttons">
					<ol><input id="submit" name="submit" type="submit" value="Edit Profile" /></ol>
				</fieldset>
				</form>
				</div>
				
				

		</div>
	</div>
    
<!-- °°°°°°°° -->