#{extends 'main.html' /}
#{set title:'Home' /}





<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" xml:lang="en" lang="en">
  <head>
    
            <!-- Analytical Head Init: Chartbeat -->
            <script type="text/javascript">var _sf_startpt=(new Date()).getTime();</script>



    <title>Dentistry in - on 06/13/2013 - HealthLeap</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" /><meta content="en" http-equiv="Content-Language" /><meta content="mult" name="medium" /><meta content="QxSuWs2Ey0pYHTkLxGrOgtULkPct6XiIvZ5lxMOjY3E=" name="csrf-token" /><meta content="authenticity_token" name="csrf-param" /><meta content="103982973218" property="fb:app_id" /><meta content="website" property="og:type" /><meta content="HealthLeap" property="og:site_name" /><meta content="http://www.healthleap.com/searches/c4d8387815f4f717fa88e32f033634d8137114093292575" property="og:url" /><meta content="Dentistry in - on 06/13/2013 - HealthLeap" property="og:title" /><meta content="http://www.healthleap.com/images/mark.png?1303189634" property="og:image" /><meta content="3601" http-equiv="refresh" />
    <link href="/stylesheets/compiled/screen.css?1360642710" media="screen" rel="stylesheet" type="text/css" /><link href="/stylesheets/default.css?1303189634" media="screen" rel="stylesheet" type="text/css" /><link href="/stylesheets/compiled/print.css?1360642655" media="print" rel="stylesheet" type="text/css" /><!--[if IE]>
<link href="/stylesheets/compiled/ie.css?1360642651" media="screen" rel="stylesheet" type="text/css" />
<![endif]--><style type="text/css">  
    #search-form div.selector select {
      width: 150px !important; /* makes the down arrow clickable (opens options list) */
    }
  
</style>
    <script src="/javascripts/default.js?1323186857" type="text/javascript"></script><script src="/javascripts/jquery.cascade-select.js?1323186857" type="text/javascript"></script><script src="/javascripts/application.js?1303189634" type="text/javascript"></script><script type="text/javascript">
//<![CDATA[
$(document).ready(function() {
  
    var $searchLocationField = $('#search_location');

    $("#search-form").submit(function() {
      var valid = true;
      if (valid && isEmptyOrDefaultValue($searchLocationField)) {
        $searchLocationField.effect("highlight", {}, 3000);
        valid = false;
      }
      if (!valid) {
        return false;
      }
      $(this).find(".toggleval").each(function() {
        if ($(this).val() == $(this).data("defText")) {
          $(this).val("");
        }
      });
    });

    $('#search_insurance_carrier_id').cascade({
        source: '/insurances/%/plans.json',
        cascaded: 'search_insurance_plan_id',
        sourceStartingLabel: "Select a Carrier",
        dependentStartingLabel: "I'll select later",
        dependentLoadingLabel: "Loading plans..."
    });

    $('#search_specialty_ids').cascade({
      source: '/appointment_types.json',
      cascaded: 'search_appointment_type_ids',
      sourceStartingLabel: 'Select a Specialty',
      dependentStartingLabel: '',
      dependentLoadingLabel: 'Loading reasons...',
      extraParams: {specialties: function() {
        return $('#search_specialty_ids').val();
      }},
      onCascade: function() {
        $('#search_appointment_type_ids').val('42').change();
      }
    });

    $("#search-form select").uniform( { 
      selectClass: 'selector blue_small',
      maxSelectChars: 15 
    } );

    $(".datepicker").datepicker();
  

})
//]]>
</script>
              <!-- Analytical Init: Google -->
          <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-2543312-15'], ['_setDomainName', ''], ['_trackPageview']);
            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
          </script>


            <!-- Analytical Head Init: Quantcast -->
            <script type="text/javascript">
              var _qevents = _qevents || [];

              (function() {
               var elem = document.createElement('script');

               elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
               elem.async = true;
               elem.type = "text/javascript";
               var scpt = document.getElementsByTagName('script')[0];
               scpt.parentNode.insertBefore(elem, scpt);
              })();
            </script>


  </head>
<body class="show" id="searches">    
    <div id="masthead" role="banner">
      <div id="header">  <div id="logo"><a href="/practitioners/hgfhvjh/dashboard">HealthLeap</a></div>
  <div id="menu"><ul>
<li>
  <a href="#" class="dropdown"><span>Medical</span></a>

  <div class="submenu one-col">
    <div class="left">
      <h4>Medical Specialties</h4>

      <div class="col-wrapper">
        <div class="col first">
          <ul class="links">
            <li><a href="/searches/dermatologists">Dermatologists</a></li>
            <li><a href="/searches/ents">ENTs</a></li>
            <li><a href="/searches/general-practitioners">General Practitioners</a></li>
            <li><a href="/searches/ob-gyns">Gynecologists</a></li>
            <li><a href="/searches/plastic-surgeons">Plastic Surgeons</a></li>
          </ul>
        </div>
      </div>

    </div>

  </div>
</li>
<li>
  <a href="#" class="dropdown"><span>Dental</span></a>

  <div class="submenu one-col">
    <div class="left">
      <h4>Dental Specialties</h4>

      <div class="col-wrapper">
        <div class="col first">
          <ul class="links">
            <li><a href="/searches/dentists">Dentists</a></li>
            <li><a href="/searches/orthodontists">Orthodontists</a></li>
          </ul>
        </div>
      </div>

    </div>

  </div>

</li>
<li>
  <a href="#" class="dropdown"><span>Cosmetic</span></a>

  <div class="submenu one-col" style="left: -236px">
    <div class="left">
      <h4>Cosmetic Specialties</h4>

      <div class="col-wrapper">
        <div class="col first">
          <ul class="links">
            <li><a href="/searches/dermatologists">Dermatologists</a></li>
            <li><a href="/searches/plastic-surgeons">Plastic Surgeons</a></li>
            <li><a href="/searches/dentists">Dentists</a></li>
          </ul>
        </div>
      </div>

    </div>

  </div>

</li>
<li>
  <a href="#" class="dropdown"><span>Wellness</span></a>

  <div class="submenu one-col" style="left: -240px">
    <div class="left">
      <h4>Wellness Specialties</h4>

      <div class="col-wrapper">
        <div class="col first">
          <ul class="links">
            <li><a href="/searches/chiropractors">Chiropractors</a></li>
            <li><a href="/searches/nutritionists">Nutritionists</a></li>
            <li><a href="/searches/podiatrists">Podiatrists</a></li>
            <li><a href="/searches/physical-therapists">Physical Therapists</a></li>
          </ul>
        </div>
      </div>

    </div>

  </div>
</li>
</ul>
<form name="searchForm" role="search">
</form></div>
  <div id="user">
  Logged in as <a href="/practitioners/hgfhvjh/edit">Elsa Bakiu</a>
</div>
</div>
    </div>
    <div id="main">
      <div id="content" role="main">
    


<div id="search-box">
  <h1>
    Dentistry in - on 06/13/2013
  </h1>

  <div id="search-mode">
      <ul>
        <li><a href="/searches/c4d8387815f4f717fa88e32f033634d8137114093292575" class="list active">List</a></li>
        <li><a href="/searches/c4d8387815f4f717fa88e32f033634d8137114093292575/panels" class="card">Panels</a></li>
        <li><a href="/searches/c4d8387815f4f717fa88e32f033634d8137114093292575/map" class="map">Map</a></li>
      </ul>
  </div>
  <!-- end mode -->

<form action="/searches/c4d8387815f4f717fa88e32f033634d8137114093292575" class="vertical" id="search-form" method="post" name="fileterForm"><div style="margin:0;padding:0;display:inline"><input name="_method" type="hidden" value="put" /><input name="authenticity_token" type="hidden" value="QxSuWs2Ey0pYHTkLxGrOgtULkPct6XiIvZ5lxMOjY3E=" /></div>    <input type="hidden" name="view" value="list" id="view">
    <fieldset>
      <ol>
        <li>
          <label for="field-specialty">Specialty</label>
          <select id="search_specialty_ids" name="search[specialty_ids]"><option value="78">Addiction Medicine</option>
<option value="15">Adolescent Medicine</option>
<option value="77">Age Management</option>
<option value="16">Allergy and Immunology</option>
<option value="17">Cardiovascular Disease</option>
<option value="73">Chiropractic Medicine</option>
<option value="9" selected="selected">Dentistry</option>
<option value="2">Dermatology</option>
<option value="22">Diagnostic Radiology</option>
<option value="40">ENT</option>
<option value="79">Emergency Medicine</option>
<option value="24">Endocrinology, Diabetes and Metabolism</option>
<option value="4">Family Medicine</option>
<option value="25">Gastroenterology</option>
<option value="26">Geriatric Medicine</option>
<option value="30">Infectious Disease</option>
<option value="5">Internal Medicine</option>
<option value="34">Nephrology</option>
<option value="75">Neurology</option>
<option value="37">Neuromuscular Medicine</option>
<option value="23">Nutrition</option>
<option value="6">Obstetrics and Gynecology</option>
<option value="38">Ophthalmology</option>
<option value="74">Optometry</option>
<option value="12">Oral and Maxillofacial Surgery</option>
<option value="13">Orthodontics</option>
<option value="39">Orthopedic Surgery</option>
<option value="14">Pediatric Dentistry</option>
<option value="10">Pediatrics</option>
<option value="11">Periodontics</option>
<option value="58">Physical Medicine and Rehabilitation</option>
<option value="7">Plastic Surgery</option>
<option value="61">Podiatry</option>
<option value="3">Psychiatry</option>
<option value="63">Pulmonary Disease</option>
<option value="64">Reproductive Endocrinology/Infertility</option>
<option value="66">Sleep Medicine</option>
<option value="68">Sports Medicine</option>
<option value="69">Surgery</option>
<option value="71">Urology</option></select>
        </li>
        <li>
          <label for="field-reason">Reason</label>
          <select id="search_appointment_type_ids" name="search[appointment_type_ids]"></select>
        </li>
        <li>
          <label for="field-when">When</label>
          <input alt="mm/dd/yyyy" class="datepicker" id="search_date_range" name="search[date_range]" size="30" type="text" value="06/13/2013" />
        </li>
        <li>
          <label for="field-insurance">Insurance</label>
          <select id="search_insurance_carrier_id" name="search[insurance_carrier_id]"><option value="">I'll select my carrier later</option>
<option value="646">1199SEIU</option>
<option value="1">AARP</option>
<option value="3">Aetna</option>
<option value="33">Affinity Health Plan</option>
<option value="36">AIG</option>
<option value="38">Allied Insurance Group</option>
<option value="43">Altius (Coventry Health Care)</option>
<option value="47">American Family Insurance</option>
<option value="50">AmeriChoice by UnitedHealthcare</option>
<option value="55">Amerigroup</option>
<option value="61">AmeriHealth</option>
<option value="67">Anthem Blue Cross Blue Shield (California)</option>
<option value="92">Anthem Blue Cross Blue Shield (Connecticut)</option>
<option value="110">Anthem Blue Cross Blue Shield (Virginia)</option>
<option value="146">Assurant Health Employee Benefits</option>
<option value="148">Atlantis Health Plan</option>
<option value="150">Beech Street</option>
<option value="152">Blue Cross and Blue Shield of Massachusetts</option>
<option value="168">Blue Cross Blue Shield</option>
<option value="172">Blue Shield of California</option>
<option value="648">Building Service 32BJ Health Fund</option>
<option value="188">CareFirst Blue Cross Blue Shield (Maryland)</option>
<option value="196">CarePlus Health Plans</option>
<option value="203">CDPHP</option>
<option value="211">Celtic Insurance Company</option>
<option value="213">Cigna</option>
<option value="219">ConnectiCare</option>
<option value="229">Definity Health</option>
<option value="628">Delta Dental</option>
<option value="643">Elderplan</option>
<option value="231">Emblem</option>
<option value="244">Empire Blue Cross Blue Shield (New York)</option>
<option value="258">Empire Plan</option>
<option value="260">Excellus Blue Cross Blue Shield (New York)</option>
<option value="264">Fidelis Care</option>
<option value="267">First Health (Coventry Health Care)</option>
<option value="269">Freelancers Insurance Company (BlueCard PPO Network)</option>
<option value="272">GEHA Health Plans</option>
<option value="276">GHI</option>
<option value="286">Golden Rule</option>
<option value="292">Great West Healthcare</option>
<option value="299">Guardian</option>
<option value="303">HAP (Alliance)</option>
<option value="312">Harvard Pilgrim Healthcare</option>
<option value="318">Health Net</option>
<option value="322">HealthSmart Preferred Care</option>
<option value="324">HIP</option>
<option value="342">Horizon Blue Cross Blue Shield</option>
<option value="352">Hudson Health Plus</option>
<option value="355">Humana</option>
<option value="370">Kaiser Permanente (California)</option>
<option value="376">Kaiser Permanente (Maryland, Virginia, And Washington, Dc)</option>
<option value="380">Kaiser Permanente (Mid-Atlantic Region)</option>
<option value="383">MagnaCare</option>
<option value="386">Mamsi</option>
<option value="634">Medi-Cal</option>
<option value="391">Medicaid</option>
<option value="393">Medicare</option>
<option value="638">MESVision</option>
<option value="395">Molina</option>
<option value="398">Multiplan</option>
<option value="400">Mutual of Omaha</option>
<option value="406">MVP</option>
<option value="413">National Capital</option>
<option value="415">Nationwide</option>
<option value="417">NewYork-Presbyterian Community Health Plan</option>
<option value="420">NLI America</option>
<option value="423">OptimaHealth</option>
<option value="433">Oxford Health Plans</option>
<option value="438">PacifiCare</option>
<option value="450">PHCS</option>
<option value="452">POMCO</option>
<option value="455">Premera Blue Cross</option>
<option value="457">Premera Blue Cross (Washington)</option>
<option value="462">Principal Financial Group</option>
<option value="466">Providence</option>
<option value="480">QualCare</option>
<option value="483">Rayant</option>
<option value="490">Regence Blue Shield (Washington)</option>
<option value="512">Reliance Standard</option>
<option value="516">SelectHealth</option>
<option value="527">Sierra</option>
<option value="540">Significa</option>
<option value="543">State Farm</option>
<option value="545">SummaCare</option>
<option value="550">SutterSelect</option>
<option value="553">Texas True Choice/Ethix Southwest</option>
<option value="555">TriCare/TriWest</option>
<option value="563">Tufts Associated Health Plan</option>
<option value="568">Unicare</option>
<option value="584">Union</option>
<option value="587">UnitedHealthcare</option>
<option value="606">Unitrin</option>
<option value="636">VSP</option>
<option value="608">Vytra</option>
<option value="611">Wellcare</option>
<option value="613">Wellmark Blue Cross Blue Shield (Iowa)</option>
<option value="619">Wellmark Blue Cross Blue Shield (South Dakota)</option>
<option value="624">Wells Fargo (Acordia)</option>
<option value="626">Workers&#39; Compensation</option></select>
        </li>
        <li>
          <label for="field-insurance-plan">Insurance Plan</label>
          <select html_options="disabledtrue" id="search_insurance_plan_id" name="search[insurance_plan_id]"><option value="">I'll select later</option>
</select>
        </li>
        <li>
          <label for="field-zip">Location</label>
          <input alt="City or zip code" id="search_location" name="search[location]" size="30" type="text" value="-" />
        </li>
        <li class="last">
          <input type="submit" name="submit" value="Update"/>
        </li>
      </ol>
    </fieldset>

</form>
</div><!-- end search-box -->

  
<div id="search-results" class="list">
  <ul>
        <li>
  <div class="vcard">
      <h4><a href="/dr-stephen-lockwood">Dr. Stephen Lockwood</a></h4>
      <a href="/dr-stephen-lockwood" alt="Dr. Stephen Lockwood photo" class="photo"><img alt="Small" height="120" src="https://s3.amazonaws.com/assets.healthleap.com/people/photos/556/small.jpg?1266798440" width="90" /></a>
      <div class="adr"><p class="street-address">4150 Regents Park Row, Suite 230 </p><p><span class="locality">La Jolla</span>, <abbr class="region" title="CA">CA</abbr></p><p class="postal-code">92037</p></div>
      <div class="meta">
        <a href="/practitioners/dr-stephen-lockwood/map" class="trigger-popup-map">Map</a>
      </div>
  </div>

  <div class="bio">
      <h5>About Dr. Lockwood</h5>
    
    <p class="bio-text">Dr. Lockwood has been in private practice in La Jolla since 1985. His quest for the highest level of skill in dentistry has been recognized with a Mastership Award from the prestigious and nationally recognized Academy of General Dentistry. To receive the... <a href="/dr-stephen-lockwood">(more)</a></p>
  </div>

  <div class="appts">
    
<form style="display:none">
  <input id="start_date" name="start_date" type="hidden" value="2013-06-13" />
  <input id="end_date" name="end_date" type="hidden" value="2013-06-17" />
  <input id="next_date" name="next_date" type="hidden" value="2013-06-18" />
  <input id="previous_date" name="previous_date" type="hidden" value="2013-06-08" />
</form>

<table class="appointments" style="float:left;">
  <thead>
  <tr>
        <th><strong>Thu.</strong>06/13/13</th>
        <th><strong>Fri.</strong>06/14/13</th>
        <th><strong>Sat.</strong>06/15/13</th>
        <th><strong>Sun.</strong>06/16/13</th>
        <th><strong>Mon.</strong>06/17/13</th>
  </tr>
  </thead>
  <tbody>
      <tr>
          <td>
            <a href="/appointments/Wzc1NCw1MjYsNDIsMTgsMTM3MTE0NjQwMC4wLDEzNzExNTAwMDAuMF0=/bookings/new?referrer=http%3A%2F%2Fwww.healthleap.com%2F" rel="nofollow">11:00AM</a>
          </td>
          <td>
            <a href="/appointments/Wzc1Niw1MjYsNDIsMTgsMTM3MTIyMjAwMC4wLDEzNzEyMjU2MDAuMF0=/bookings/new?referrer=http%3A%2F%2Fwww.healthleap.com%2F" rel="nofollow">08:00AM</a>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
            <a href="/appointments/Wzc1MCw1MjYsNDIsMTgsMTM3MTQ3NzYwMC4wLDEzNzE0ODEyMDAuMF0=/bookings/new?referrer=http%3A%2F%2Fwww.healthleap.com%2F" rel="nofollow">07:00AM</a>
          </td>
      </tr>
      <tr>
          <td>
            <a href="/appointments/Wzc1NCw1MjYsNDIsMTgsMTM3MTE1MzYwMC4wLDEzNzExNTcyMDAuMF0=/bookings/new?referrer=http%3A%2F%2Fwww.healthleap.com%2F" rel="nofollow">01:00PM</a>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
            <a href="/appointments/Wzc1MCw1MjYsNDIsMTgsMTM3MTQ5MjAwMC4wLDEzNzE0OTU2MDAuMF0=/bookings/new?referrer=http%3A%2F%2Fwww.healthleap.com%2F" rel="nofollow">11:00AM</a>
          </td>
      </tr>
      <tr>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
            <a href="/appointments/Wzc1MCw1MjYsNDIsMTgsMTM3MTUwNjQwMC4wLDEzNzE1MTAwMDAuMF0=/bookings/new?referrer=http%3A%2F%2Fwww.healthleap.com%2F" rel="nofollow">03:00PM</a>
          </td>
      </tr>
  </tbody>
</table>

  </div>
</li>

        <li>
  <div class="vcard">
      <h4><a href="/walleyworlddental">Dr. Robert Walley</a></h4>
      <a href="/walleyworlddental" alt="Dr. Robert Walley photo" class="photo"><img alt="Small" height="120" src="https://s3.amazonaws.com/assets.healthleap.com/people/photos/571/small.jpg?1269893670" width="90" /></a>
      <div class="adr"><p class="street-address">490 Post St #1205</p><p><span class="locality">San Francisco</span>, <abbr class="region" title="CA">CA</abbr></p><p class="postal-code">94102</p></div>
      <div class="meta">
        <a href="/practitioners/walleyworlddental/map" class="trigger-popup-map">Map</a>
      </div>
  </div>

  <div class="bio">
      <h5>About Dr. Walley</h5>
    
    <p class="bio-text">Dr. Walley has been providing excellent cosmetic and restorative dentistry in San Francisco for 40 years.  He is an expert in all aspects of dentistry including root canals, fillings, inlays, and more. He recently started providing patients with Invisalign ... <a href="/walleyworlddental">(more)</a></p>
  </div>

  <div class="appts">
    
<form style="display:none">
  <input id="start_date" name="start_date" type="hidden" value="2013-06-13" />
  <input id="end_date" name="end_date" type="hidden" value="2013-06-17" />
  <input id="next_date" name="next_date" type="hidden" value="2013-06-18" />
  <input id="previous_date" name="previous_date" type="hidden" value="2013-06-08" />
</form>

<table class="appointments" style="float:left;">
  <thead>
  <tr>
        <th><strong>Thu.</strong>06/13/13</th>
        <th><strong>Fri.</strong>06/14/13</th>
        <th><strong>Sat.</strong>06/15/13</th>
        <th><strong>Sun.</strong>06/16/13</th>
        <th><strong>Mon.</strong>06/17/13</th>
  </tr>
  </thead>
  <tbody>
      <tr>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
            <a href="/appointments/WzQxMiw1MzcsNDIsMjksMTM3MTQ5NTYwMC4wLDEzNzE0OTkyMDAuMF0=/bookings/new?referrer=http%3A%2F%2Fwww.healthleap.com%2F" rel="nofollow">12:00PM</a>
          </td>
      </tr>
  </tbody>
</table>

  </div>
</li>

        <li>
  <div class="vcard">
      <h4><a href="/dr-brent-ort">Dr. Brent Ort</a></h4>
      <a href="/dr-brent-ort" alt="Dr. Brent Ort photo" class="photo"><img alt="Small" height="120" src="https://s3.amazonaws.com/assets.healthleap.com/people/photos/574/small.png?1266621369" width="90" /></a>
      <div class="adr"><p class="street-address">490 Post Street, Suite 412</p><p><span class="locality">San Francisco</span>, <abbr class="region" title="CA">CA</abbr></p><p class="postal-code">94102</p></div>
      <div class="meta">
        <a href="/practitioners/dr-brent-ort/map" class="trigger-popup-map">Map</a>
      </div>
  </div>

  <div class="bio">
      <h5>About Dr. Ort</h5>
    
    <p class="bio-text">  After practicing the art of dental health for the last 34 years, Brent Ort has decided to take his practice to the next level. 
    For the last 34 years Dr. Ort has had very minimal turnover when it comes to patients. The reason for this is his passion for e... <a href="/dr-brent-ort">(more)</a></p>
  </div>

  <div class="appts">
    
<form style="display:none">
  <input id="start_date" name="start_date" type="hidden" value="2013-06-13" />
  <input id="end_date" name="end_date" type="hidden" value="2013-06-17" />
  <input id="next_date" name="next_date" type="hidden" value="2013-06-18" />
  <input id="previous_date" name="previous_date" type="hidden" value="2013-06-08" />
</form>

<table class="appointments" style="float:left;">
  <thead>
  <tr>
        <th><strong>Thu.</strong>06/13/13</th>
        <th><strong>Fri.</strong>06/14/13</th>
        <th><strong>Sat.</strong>06/15/13</th>
        <th><strong>Sun.</strong>06/16/13</th>
        <th><strong>Mon.</strong>06/17/13</th>
  </tr>
  </thead>
  <tbody>
      <tr>
          <td>
            <a href="/appointments/WzU0NCw1NDAsNDIsMzIsMTM3MTE2NDQwMC4wLDEzNzExNjgwMDAuMF0=/bookings/new?referrer=http%3A%2F%2Fwww.healthleap.com%2F" rel="nofollow">04:00PM</a>
          </td>
          <td>
            <a href="/appointments/WzU0NSw1NDAsNDIsMzIsMTM3MTIyMjAwMC4wLDEzNzEyMjU2MDAuMF0=/bookings/new?referrer=http%3A%2F%2Fwww.healthleap.com%2F" rel="nofollow">08:00AM</a>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
            <a href="/appointments/WzU0Miw1NDAsNDIsMzIsMTM3MTQ4MTIwMC4wLDEzNzE0ODQ4MDAuMF0=/bookings/new?referrer=http%3A%2F%2Fwww.healthleap.com%2F" rel="nofollow">08:00AM</a>
          </td>
      </tr>
      <tr>
          <td>
          </td>
          <td>
            <a href="/appointments/WzU0NSw1NDAsNDIsMzIsMTM3MTI0MzYwMC4wLDEzNzEyNDcyMDAuMF0=/bookings/new?referrer=http%3A%2F%2Fwww.healthleap.com%2F" rel="nofollow">02:00PM</a>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
            <a href="/appointments/WzU0Miw1NDAsNDIsMzIsMTM3MTQ4ODQwMC4wLDEzNzE0OTIwMDAuMF0=/bookings/new?referrer=http%3A%2F%2Fwww.healthleap.com%2F" rel="nofollow">10:00AM</a>
          </td>
      </tr>
      <tr>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
            <a href="/appointments/WzU0Miw1NDAsNDIsMzIsMTM3MTUwMjgwMC4wLDEzNzE1MDY0MDAuMF0=/bookings/new?referrer=http%3A%2F%2Fwww.healthleap.com%2F" rel="nofollow">02:00PM</a>
          </td>
      </tr>
      <tr>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
            <a href="/appointments/WzU0Miw1NDAsNDIsMzIsMTM3MTUxMDAwMC4wLDEzNzE1MTM2MDAuMF0=/bookings/new?referrer=http%3A%2F%2Fwww.healthleap.com%2F" rel="nofollow">04:00PM</a>
          </td>
      </tr>
  </tbody>
</table>

  </div>
</li>

        <li>
  <div class="vcard">
      <h4><a href="/modernfamilydental">Dr. Hao Tran</a></h4>
      <a href="/modernfamilydental" alt="Dr. Hao Tran photo" class="photo"><img alt="Small" height="120" src="https://s3.amazonaws.com/assets.healthleap.com/people/photos/577/small.jpg?1269629745" width="90" /></a>
      <div class="adr"><p class="street-address">500 Spruce St. #203</p><p><span class="locality">San Francisco</span>, <abbr class="region" title="CA">CA</abbr></p><p class="postal-code">94118</p></div>
      <div class="meta">
        <a href="/practitioners/modernfamilydental/map" class="trigger-popup-map">Map</a>
      </div>
  </div>

  <div class="bio">
      <h5>About Dr. Tran</h5>
    
    <p class="bio-text">Dr. Tran has been providing excellent dentistry in San Francisco, Solano and Sacramento Counties, and New York City.  He is now settled in San Francisco and established his own practice in the charming Laurel Heights neighborhood.  He is often described by... <a href="/modernfamilydental">(more)</a></p>
  </div>

  <div class="appts">
    
<form style="display:none">
  <input id="start_date" name="start_date" type="hidden" value="2013-06-13" />
  <input id="end_date" name="end_date" type="hidden" value="2013-06-17" />
  <input id="next_date" name="next_date" type="hidden" value="2013-06-18" />
  <input id="previous_date" name="previous_date" type="hidden" value="2013-06-08" />
</form>

<table class="appointments" style="float:left;">
  <thead>
  <tr>
        <th><strong>Thu.</strong>06/13/13</th>
        <th><strong>Fri.</strong>06/14/13</th>
        <th><strong>Sat.</strong>06/15/13</th>
        <th><strong>Sun.</strong>06/16/13</th>
        <th><strong>Mon.</strong>06/17/13</th>
  </tr>
  </thead>
  <tbody>
      <tr>
          <td>
            <a href="/appointments/WzEwNjcsNTQzLDQyLDM1LDEzNzExNDI4MDAuMCwxMzcxMTQ0NjAwLjBd/bookings/new?referrer=http%3A%2F%2Fwww.healthleap.com%2F" rel="nofollow">10:00AM</a>
          </td>
          <td>
            <a href="/appointments/WzEwNjgsNTQzLDQyLDM1LDEzNzEyMjU2MDAuMCwxMzcxMjI3NDAwLjBd/bookings/new?referrer=http%3A%2F%2Fwww.healthleap.com%2F" rel="nofollow">09:00AM</a>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
            <a href="/appointments/WzEwNjQsNTQzLDQyLDM1LDEzNzE0ODMwMDAuMCwxMzcxNDg0ODAwLjBd/bookings/new?referrer=http%3A%2F%2Fwww.healthleap.com%2F" rel="nofollow">08:30AM</a>
          </td>
      </tr>
      <tr>
          <td>
            <a href="/appointments/WzEwNjcsNTQzLDQyLDM1LDEzNzExNDY0MDAuMCwxMzcxMTQ4MjAwLjBd/bookings/new?referrer=http%3A%2F%2Fwww.healthleap.com%2F" rel="nofollow">11:00AM</a>
          </td>
          <td>
            <a href="/appointments/WzEwNjgsNTQzLDQyLDM1LDEzNzEyMjkyMDAuMCwxMzcxMjMxMDAwLjBd/bookings/new?referrer=http%3A%2F%2Fwww.healthleap.com%2F" rel="nofollow">10:00AM</a>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
            <a href="/appointments/WzEwNjQsNTQzLDQyLDM1LDEzNzE0ODY2MDAuMCwxMzcxNDg4NDAwLjBd/bookings/new?referrer=http%3A%2F%2Fwww.healthleap.com%2F" rel="nofollow">09:30AM</a>
          </td>
      </tr>
      <tr>
          <td>
            <a href="/appointments/WzEwNjcsNTQzLDQyLDM1LDEzNzExNTAwMDAuMCwxMzcxMTUxODAwLjBd/bookings/new?referrer=http%3A%2F%2Fwww.healthleap.com%2F" rel="nofollow">12:00PM</a>
          </td>
          <td>
            <a href="/appointments/WzEwNjgsNTQzLDQyLDM1LDEzNzEyNDM2MDAuMCwxMzcxMjQ1NDAwLjBd/bookings/new?referrer=http%3A%2F%2Fwww.healthleap.com%2F" rel="nofollow">02:00PM</a>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
            <a href="/appointments/WzEwNjQsNTQzLDQyLDM1LDEzNzE0OTc0MDAuMCwxMzcxNDk5MjAwLjBd/bookings/new?referrer=http%3A%2F%2Fwww.healthleap.com%2F" rel="nofollow">12:30PM</a>
          </td>
      </tr>
      <tr>
          <td>
            <a href="/appointments/WzEwNjcsNTQzLDQyLDM1LDEzNzExNTcyMDAuMCwxMzcxMTU5MDAwLjBd/bookings/new?referrer=http%3A%2F%2Fwww.healthleap.com%2F" rel="nofollow">02:00PM</a>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
            <a href="/appointments/WzEwNjQsNTQzLDQyLDM1LDEzNzE1MDEwMDAuMCwxMzcxNTAyODAwLjBd/bookings/new?referrer=http%3A%2F%2Fwww.healthleap.com%2F" rel="nofollow">01:30PM</a>
          </td>
      </tr>
      <tr>
          <td>
            <a href="/appointments/WzEwNjcsNTQzLDQyLDM1LDEzNzExNjA4MDAuMCwxMzcxMTYyNjAwLjBd/bookings/new?referrer=http%3A%2F%2Fwww.healthleap.com%2F" rel="nofollow">03:00PM</a>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
            <a href="/appointments/WzEwNjQsNTQzLDQyLDM1LDEzNzE1MDQ2MDAuMCwxMzcxNTA2NDAwLjBd/bookings/new?referrer=http%3A%2F%2Fwww.healthleap.com%2F" rel="nofollow">02:30PM</a>
          </td>
      </tr>
      <tr>
          <td>
            <a href="/appointments/WzEwNjcsNTQzLDQyLDM1LDEzNzExNjQ0MDAuMCwxMzcxMTY2MjAwLjBd/bookings/new?referrer=http%3A%2F%2Fwww.healthleap.com%2F" rel="nofollow">04:00PM</a>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
            <a href="/appointments/WzEwNjQsNTQzLDQyLDM1LDEzNzE1MTE4MDAuMCwxMzcxNTEzNjAwLjBd/bookings/new?referrer=http%3A%2F%2Fwww.healthleap.com%2F" rel="nofollow">04:30PM</a>
          </td>
      </tr>
  </tbody>
</table>

  </div>
</li>

        <li>
  <div class="vcard">
      <h4><a href="/dr-baltazar-guzman">Dr. Baltazar Guzman</a></h4>
      <a href="/dr-baltazar-guzman" alt="Dr. Baltazar Guzman photo" class="photo"><img alt="Small" height="120" src="https://s3.amazonaws.com/assets.healthleap.com/people/photos/581/small.jpg?1271100514" width="90" /></a>
      <div class="adr"><p class="street-address">2001 Union Street Suite 664</p><p><span class="locality">San Francisco</span>, <abbr class="region" title="CA">CA</abbr></p><p class="postal-code">94123</p></div>
      <div class="meta">
        <a href="/practitioners/dr-baltazar-guzman/map" class="trigger-popup-map">Map</a>
      </div>
  </div>

  <div class="bio">
      <h5>About Dr. Guzman</h5>
    
    <p class="bio-text">Dr. Guzman has been providing excellent general and cosmetic dentistry in San Francisco since 1997.  He is often described by his patients as nice and calm; someone who resonates trust.

Dr. Guzman remains up to date with the latest and most advanced tec... <a href="/dr-baltazar-guzman">(more)</a></p>
  </div>

  <div class="appts">
    
<form style="display:none">
  <input id="start_date" name="start_date" type="hidden" value="2013-06-13" />
  <input id="end_date" name="end_date" type="hidden" value="2013-06-17" />
  <input id="next_date" name="next_date" type="hidden" value="2013-06-18" />
  <input id="previous_date" name="previous_date" type="hidden" value="2013-06-08" />
</form>

<table class="appointments" style="float:left;">
  <thead>
  <tr>
        <th><strong>Thu.</strong>06/13/13</th>
        <th><strong>Fri.</strong>06/14/13</th>
        <th><strong>Sat.</strong>06/15/13</th>
        <th><strong>Sun.</strong>06/16/13</th>
        <th><strong>Mon.</strong>06/17/13</th>
  </tr>
  </thead>
  <tbody>
      <tr>
          <td>
            <a href="/appointments/Wzk0MCw1NDUsNDIsMzcsMTM3MTE0NTgwMC4wLDEzNzExNDkxMDAuMF0=/bookings/new?referrer=http%3A%2F%2Fwww.healthleap.com%2F" rel="nofollow">10:50AM</a>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
            <a href="/appointments/WzkwOSw1NDUsNDIsMzcsMTM3MTQ5MTQwMC4wLDEzNzE0OTQ3MDAuMF0=/bookings/new?referrer=http%3A%2F%2Fwww.healthleap.com%2F" rel="nofollow">10:50AM</a>
          </td>
      </tr>
      <tr>
          <td>
            <a href="/appointments/Wzk0MCw1NDUsNDIsMzcsMTM3MTE1MjQwMC4wLDEzNzExNTU3MDAuMF0=/bookings/new?referrer=http%3A%2F%2Fwww.healthleap.com%2F" rel="nofollow">12:40PM</a>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
            <a href="/appointments/WzkwOSw1NDUsNDIsMzcsMTM3MTQ5ODAwMC4wLDEzNzE1MDEzMDAuMF0=/bookings/new?referrer=http%3A%2F%2Fwww.healthleap.com%2F" rel="nofollow">12:40PM</a>
          </td>
      </tr>
      <tr>
          <td>
            <a href="/appointments/Wzk0MCw1NDUsNDIsMzcsMTM3MTE1OTAwMC4wLDEzNzExNjIzMDAuMF0=/bookings/new?referrer=http%3A%2F%2Fwww.healthleap.com%2F" rel="nofollow">02:30PM</a>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
      </tr>
  </tbody>
</table>

  </div>
</li>

  </ul>
</div>
<div class="pagination"><span class="disabled prev_page">&laquo; Previous</span> <span class="current">1</span> <a href="/searches/c4d8387815f4f717fa88e32f033634d8137114093292575?page=2" rel="next">2</a> <a href="/searches/c4d8387815f4f717fa88e32f033634d8137114093292575?page=3">3</a> <a href="/searches/c4d8387815f4f717fa88e32f033634d8137114093292575?page=4">4</a> <a href="/searches/c4d8387815f4f717fa88e32f033634d8137114093292575?page=5">5</a> <a href="/searches/c4d8387815f4f717fa88e32f033634d8137114093292575?page=6">6</a> <a href="/searches/c4d8387815f4f717fa88e32f033634d8137114093292575?page=7">7</a> <a href="/searches/c4d8387815f4f717fa88e32f033634d8137114093292575?page=2" class="next_page" rel="next">Next &raquo;</a></div>



</div>
    </div>
    <div id="addendum">
      
<div id="footer" role="contentinfo">
  <dl>
    <dt>More Information</dt>
    <dd><a href="/about/contact">About HealthLeap</a></dd>
    <dd><a href="/about/media">Media</a></dd>
  </dl>
  <dl>
    <dt>For Patients</dt>
    <dd><a href="/users/new">Sign-up</a></dd>
    <dd><a href="/login">My HealthLeap</a></dd>
    <dd><a href="http://www.vitals.com/" target="_blank">Doctor Reviews</a> on Vitals.com</dd>
  </dl>
  <dl>
    <dt>For Doctors</dt>
    <dd><a href="/membership">Membership</a></dd>
    <dd><a href="/membership/features">Features</a></dd>
    <dd><a href="/membership/plans">Plans &amp; Pricing</a></dd>
    <dd><a href="/membership/new">Sign-up</a></dd>
  </dl>
  <dl id="footer-legal">
    <dt>Legal</dt>
    <dd><a href="/legal/terms">Terms of Use</a></dd>
    <dd><a href="/legal/privacy">Privacy Policy</a></dd>
    <dd id="copyright">&copy; 2011 MDx-HL Holdings, LLC</dd>
  </dl>
  <dl id="footer-contact">
    <dt>Contact</dt>
    <dd>(201) 842-0760</dd>
    <dd><a href="http://www.vitals.com/about/contact">Contact Us</a></dd>
    <dd><a href="http://twitter.com/VitalsCom" id="tw-link">Follow Us</a></dd>
    <dd><a href="http://www.facebook.com/Vitals" id="fb-link">Like Us</a></dd>
  </dl>
</div>

    </div>
    <form action="https://www.healthleap.com/session" id="connect_to_facebook_form" method="post"><div style="margin:0;padding:0;display:inline"><input name="authenticity_token" type="hidden" value="QxSuWs2Ey0pYHTkLxGrOgtULkPct6XiIvZ5lxMOjY3E=" /></div>
</form>
<div id="fb-root"></div>

<script type="text/javascript">
  window.fbAsyncInit = function() {
    FB.init({appId: '103982973218', status: true, cookie: true, xfbml: true});
  };
  (function() {
    var e = document.createElement('script'); e.async = true;
    e.src = document.location.protocol +
      '//connect.facebook.net/en_US/all.js';
    document.getElementById('fb-root').appendChild(e);
  }());
</script>
    
            <!-- Analytical Body Init: Chartbeat -->
            <script type="text/javascript">
              var _sf_async_config={uid:3479, domain:"healthleap.com"};
              (function(){
                function loadChartbeat() {
                  window._sf_endpt=(new Date()).getTime();
                  var e = document.createElement('script');
                  e.setAttribute('language', 'javascript');
                  e.setAttribute('type', 'text/javascript');
                  e.setAttribute('src',
                     (("https:" == document.location.protocol) ? "https://s3.amazonaws.com/" : "http://") +
                     "static.chartbeat.com/js/chartbeat.js");
                  document.body.appendChild(e);
                }
                var oldonload = window.onload;
                window.onload = (typeof window.onload != 'function') ?
                   loadChartbeat : function() { oldonload(); loadChartbeat(); };
              })();
              </script>

            <!-- Analytical Body Init: Quantcast -->
            <script type="text/javascript">
              _qevents.push( { qacct:"p-08aoH5LjXJ932"} );
              </script>
              <noscript>
              <div style="display: none;"><img src="//pixel.quantserve.com/pixel/p-08aoH5LjXJ932.gif" height="1" width="1" alt="Quantcast"/></div>
              </noscript>

          <!-- Analytical Init: Console -->
          <script type="text/javascript">
            if(typeof(console) !== 'undefined' && console != null) {
              console.log('Analytical Init: Console');
            }
          </script>

</body></html>
