#{extends 'main.html' /}
#{set title:'MedikZeit - New User Sign-up' /}

<div id="user">
  			<ul>
  					<li><a href="@{Authenticate.doRegister() }" class="dropdown">Sign-up</a>
    				
					</li>

  					<li><a href="@{Authenticate.login() }" class="dropdown">Login</a>
    				
					</li>
			</ul>
				</div>
		</div>
	</div>
</div>


 <!-- End navigation area -->  
 
 
<!-- Start Main Body -->

<div id="main">
      <div id="content" role="main">
			
			<div id="search-box">
				<h1>Choose a Doctor from your filtered MedikZeit medics</h1>
         	</div>
			
			#{if doctors}
			<div id="search-results" class="list">
			
			#{list items:doctors, as:'doctor'}
				<ul>
					<li> 
						<div class="vcard">
							<h4> <a href="#">Dr.${doctor.user.firstname} ${doctor.user.lastname} </a></h4>
							<a class="photo" alt="" href="#">
							<img src="${doctor.docPhoto}" alt="Doctor Photo" ></img>
							</a>
							<div class="adr"> 
								<p class="street-address">${doctor.user.address.city}</p>
								<p>${doctor.user.insurance}</p> 
							</div>
							<div class="meta"></div>
							
						</div>
						
						<div class="bio"> <h5>Specialization</h5><p class="bio-text"> ${doctor.docSpecialization.specializationName} </p> </div>
						<div class="appts">
							<table class="appointments" style="float:left;" >
								<thead>
									<tr>
										<th> <strong> Day </strong> Appt Date </th>
										<th> <strong> Fri.</strong> 06/21/13 </th>
										<th> <strong> Fri.</strong> 06/21/13 </th>
										<th> <strong> Fri.</strong> 06/21/13 </th>
										<th> <strong> Fri.</strong> 06/21/13 </th>
										</tr> 
								</thead>
								<tbody>
									<tr>
										<<td><a rel="nofollow" href="#">02:00PM </a></td>
										<td> … </td>
										<td><a rel="nofollow" href="#">02:00PM </a></td>
										<td><a rel="nofollow" href="#">02:00PM </a></td>
										<td> … </td>
									</tr>
								</tbody>
							</table>
						</div>
						
					</li>
				</ul>
		
		#{/list}
		#{/if}
		</div>
			<div class="pagination">
				<span class="disabled prev_page"> « Previous </span>
				<span class="current"> 1 </span>
				<a rel="next" href="#?page=2"> 2 </a>
				<a class="next_page" rel="next" href="#?page=2">Next »</a>
			
			</div>
		#{else}
			<div id="search-results" class="list">
			
				<ul>
					<li> 
						 
    					There are no doctors with the specified filters
	
					</li>
				</ul>
			</div>
			
		#{/else}
			
		</div>
	</div>
    
<!-- °°°°°°°° -->