#{extends 'main.html' /}
#{set title:'MedikZeit - New User Sign-up' /}

<div id="user">
  			<ul>
  					<li><a href="users/new.html" class="dropdown">Sign-up</a>
    				
					</li>

  					<li><a href="login.html" class="dropdown">Login</a>
    				
					</li>
			</ul>
				</div>
		</div>
	</div>
</div>


 <!-- End navigation area -->  
 
 
<!-- Start Main Body -->

<div id="main">
      <div id="content" role="main">
      

			<div><h1>Sign up free today</h1></div>

			<div id="signup-form">
				<form action="@{Application.doAddUser()}" class="formtastic person" id="new_person" method="post">
		
				<fieldset class="inputs">
				<legend><span>Your Account</span></legend>
					<ol>
			
    					<li class="string optional" id="person_first_name_input">
    					<label for="person_first_name">First Name</label>
    					<input autocomplete="off" id="person_first_name"  name="user.firstname" size="50" type="text" />
    					</li>
    		
    					<li class="string optional" id="person_last_name_input">
    					<label for="person_last_name">Last Name</label>
    					<input autocomplete="off" id="person_last_name" maxlength="255" name="user.lastname" size="50" type="text" />
    					</li>
    		
    					<li class="string optional" id="person_user_attributes_email_input">
    					<label for="person_user_attributes_email">Email</label>
    					<input autocomplete="off" id="person_user_attributes_email" maxlength="100" name="user.email" size="50" type="text" />
						<p class="inline-hints">This will be your username</p>
						</li>
						
						<li class="password optional" id="person_user_attributes_password_input">
      					<label for="person_user_attributes_password">Password</label>
      					<input autocomplete="off" id="person_user_attributes_password" name="user.password" size="50" type="password" />
      					</li>
      		
      					<li class="password optional" id="person_user_attributes_password_confirmation_input">
      					<label for="person_user_attributes_password_confirmation">Conform Password</label>
      					<input autocomplete="off" id="person_user_attributes_password_confirmation" name="password" size="50" type="password" />
      					</li>
      					
      					<li class="boolean optional checkbox" id="person_user_attributes_terms_and_conditions_input">
      					<label for="person_user_attributes_terms_and_conditions">
      					
      					<input name="person[user_attributes][terms_and_conditions]" type="hidden" value="0" />
      					<input id="person_user_attributes_terms_and_conditions" name="terms_and_conditions" type="checkbox" value="1" />
      					I have read the 
      					<a href="#" target="blank">
      					Terms &amp; Conditions</a> and the 
      					<a href="#" target="blank">Privacy Policy</a>
      					</label>
      					</li>
			
      				</ol>
				</fieldset>
		
				<fieldset class="buttons">
					<ol><input id="person_submit" name="commit" type="submit" value="Complete Your Registration" /></ol>
				</fieldset>
				</form>
				</div>
				
				<!-- °°°°°°°° -->
				<div id="signup-extra">
  				<h4>Thanks for choosing MedikZeit!</h4>

  				<p>You're now on your way to:</p>
  				<ul id="benefits">
    			<li class="appointments"><h5>Managing your appointments</h5></li>
  				</ul>
  				</div>
  				<!-- °°°°°°°° -->

		</div>
	</div>
    
<!-- °°°°°°°° -->